body {
	background-color: #000;
	text-align: center;
	color: #FFF;
	font-family: "Verdana", sans-serif;
}

#mainHeader {
	font-size: 50px;
	font-weight: normal;
}

.comingSoonLinks {
	color: #7fffd4;
	font-size: 16px;
}

.secondaryHeaders {
	font-weight: 300;
	font-size: 42px;
}

.coloring {
	color: #808080;
}

#mainArticle {
	font-size: 21px;
}

#copyrightFooter {
	text-align: right;	
}

